<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/main.css">

  <!-- VENDOR SCRIPTS -->
  <script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/26c4ac9e38.js" crossorigin="anonymous"></script>

  <!-- APPLICATION SCRIPTS -->
  <script defer src="/scripts/display.js"></script>
  <script defer src="/scripts/auth.js"></script>
  <script defer src="/scripts/main.js"></script>

  <title>IBDb</title>
</head>

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg " id>
    <a class="navbar-brand nav-text" href="#">IBDb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <button type="button" id="loginBtn" class="dropdown-item" data-toggle="modal" data-target="#userModal">
              Log In
            </button>
            <button type="button" id="registerBtn" class="dropdown-item" data-toggle="modal" data-target="#userModal">
              Register
            </button>
            <button type="button" id="logoutBtn" class="dropdown-item" data-toggle="modal" data-target="#userModal">
              Log Out
            </button>
          </div>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0 d-none">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>

  <!-- User Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body" id="formBody">
          <form>
            <div id="nameGroup">
              <div class="form-group" id="firstNameGroup">
                <label for="userFitstName">First Name</label>
                <input type="text" class="form-control" id="userFirstName">
              </div>
              <div class="form-group" id="lastNameGroup">
                <label for="userEmail">Last Name</label>
                <input type="text" class="form-control" id="userLastName">
              </div>
            </div>
            <div class="form-group" id="emailGroup">
              <label for="userEmail">Email Address</label>
              <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
            </div>
            <div class="form-group" id="passwordGroup">
              <label for="userPassword">Password</label>
              <input type="password" class="form-control" id="userPassword">
            </div>
            <input type="submit" class="d-none">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="userCancel" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-times mr-2"></i>Cancel
          </button>
          <button type="button" id="userRegister" class="btn btn-primary" name="button"><i class="fas fa-plus-square mr-2"></i>Register Instead</button>
          <button type="button" id="userSubmit" class="btn btn-primary">
            <i id="actionStatus" class="fas fa-sign-in-alt mr-2"></i>
            <span id="actionText"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div id="button-group">
    <button  data-order="descendingByRating"><span>&#8593;</span></button>
    <button  data-order="ascendingByRating"><span>&#8595;</span></button>
  </div>
  -->

  <!-- Rating List -->
  <div id="chartList" class="container">
    <div class="row justify-content-md-center" id="rank">
      <div class="col col-lg-6">Top 100 Books</i>
      </div>
      <div class="col col-lg-3">
        IBDb Rating
        <i id="sort-avg" class="fas fa-sort-amount-down"></i>
      </div>
      <div class="col col-lg-3">
        Your Rating
        <i id="sort-user" class="fas fa-sort-amount-down"></i>
      </div>
    </div>
    <div id="book-list">
    </div>
  </div>
</body>

</html>